/**
 * Created by gbtan.
 * User: tanguobin
 * Date: 2012-4-5
 * Time: 下午6:21
 * Email: tanguobin@duokan.com
 * Description: footer部分样式
 */

#footer {
	margin-top: 20px;
}

.logo {
	float: left;
	margin-right: 100px;
}

.nav-channel {
	float: left;
	margin-top: 10px;
}

.nav-channel li {
	font-size: 14px;
	float: left;
	margin-right: 35px;
}

.copyright {
	color: #8d8154;
	margin-top: 40px;
}

.copyright a {
	margin-left: 20px;
}