#swipe_nav_prev, #swipe_nav_next {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	background-color: #ccc;
	cursor: pointer;
	text-align: center;
	display: none;
}
#swipe_nav_prev {
	background: #333 url('/static/img/slider/prev.png') no-repeat center center;

}
#swipe_nav_next {
	background: #333 url('/static/img/slider/next.png') no-repeat center center;
}
#count_container {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: pink;
	height: 6px;
	list-style: none;
}
.slider .internal_swipe_container {
	position: relative;
}
.slider .trans {
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}
.slider .jq_swipe_image {
	background: url('/static/img/slider/loader.gif') no-repeat center center;

}
.slider .counter {
	float: left;
	height: 6px;
	background-color: #336699;
	z-index: 200;
	height: 6px;
	padding: 0;
	margin: 0;
}
.slider .counter:hover {
	cursor: pointer;
	background-color: #ff00fc !important;
}
.slider .current {
	background-color: #ff00fc !important;
}