/**
 * Created by gbtan.
 * User: tanguobin
 * Date: 2012-4-5
 * Time: 下午3:13
 * Email: tanguobin@duokan.com
 * Description: header部分样式
 */

#container, #footer {
    width: 960px;
}
.tab a {
	text-decoration: none;
	font-size: 14px;
	width: 14px;
	display: block;
	margin-left: 18px;
	padding-top: 18px;
}
.tab .current a {
	color: #000;
}
.tab li {
	background: url(/static/img/tab.png) no-repeat 0 0;
	height: 122px;
}
.tab li.current {
	background: url(/static/img/tab.active.png) no-repeat 0 0;
}
.gangqin .tab a {
	padding-top: 28px;
}