{=include depends/inc_reset.css=}
{=include depends/inc_base.css=}
{=include depends/inc_header.css=}
{=include depends/inc_footer.css=}
{=include depends/inc_layout.css=}
{=include depends/inc_module.css=}

.title-bar {
	background: url(/static/img/title.png) no-repeat 0 0;
	height: 68px;
	color: #fff;
	font-weight: bold;
	font-size: 25px;
	line-height: 60px;
	width: 460px;
	text-align: center;
	letter-spacing: 10px;
	margin: 10px auto 30px;
}
.content {
	padding: 0 30px 50px;
	color: #666;
}

/* 机构简介 */
.intro p {
	text-indent: 2em;
	margin-bottom: 20px;
}
.intro img {
	display: block;
	margin: 0 auto;
}
.teaching {
	width: 610px;
	margin: 0 auto;
}
.teaching li.first {
	padding-left: 0;
}
.teaching li.last {
	padding-right: 0;
}
.teaching li {
	float: left;
	margin-top: 30px;
	padding: 0 25px 0 10px;
	width: 180px;
}
.teaching li span {
	float: left;
	margin-right: 10px;
}
.teaching li .title {
	font-size: 26px;
	margin-bottom: 18px;
}
.feature {
	width: 650px;
	margin: 0 auto;
}
.feature dl {
	float: left;
	margin-top: 20px;
	padding-right: 20px;
	width: 305px;
}
.feature dl dt {
	float: left;
	margin-right: 15px;
}
.feature dl dd {
	width: 240px;
	float: left;
}
.talk {
	padding-top: 15px;
	float: left;
	height: 420px;
	overflow: hidden;
}
.talk dl {
	float: left;
	margin-bottom: 30px;
}
.talk dl dt {
	border: 1px solid #ccc;
	margin-right: 10px;
	float: left;
}
.talk dl dd {
	width: 850px;
}
img {
	vertical-align: middle;
}

/* icon */
.i-idea {
	background: url(/static/img/icon.png) no-repeat 0 0;
	display: inline-block;
	width: 58px;
	height: 37px;
}
.i-aim {
	background: url(/static/img/icon.png) no-repeat 0 -100px;
	display: inline-block;
	width: 63px;
	height: 29px;
	margin-top: 7px;
}
.i-quality {
	background: url(/static/img/icon.png) no-repeat 0 -50px;
	display: inline-block;
	width: 34px;
	height: 46px;
	margin-top: -7px;
}
.i-profession {
	background: url(/static/img/icon.png) no-repeat 0 -400px;
	display: inline-block;
	height: 31px;
}
.i-detail {
	background: url(/static/img/icon.png) no-repeat 0 -350px;
	display: inline-block;
	height: 35px;
}
.i-feature {
	background: url(/static/img/icon.png) no-repeat 0 -150px;
	display: inline-block;
	height: 27px;
}
.i-cool {
	background: url(/static/img/icon.png) no-repeat 0 -300px;
	display: inline-block;
	height: 34px;
}
.i-creative {
	background: url(/static/img/icon.png) no-repeat 0 -450px;
	display: inline-block;
	height: 39px;
}
.i-great {
	background: url(/static/img/icon.png) no-repeat 0 -500px;
	display: inline-block;
	height: 30px;
}
.i-contact {
	background: url(/static/img/icon.png) no-repeat 0 -600px;
	display: inline-block;
	padding-left: 20px;
}
.i-qrcode {
	background: url(/static/img/icon.png) no-repeat 0 -650px;
	display: inline-block;
	padding-left: 20px;
}
.i-service {
	background: url(/static/img/icon.png) no-repeat 0 -250px;
	display: inline-block;
	height: 31px;
}
.i-authority {
	background: url(/static/img/icon.png) no-repeat 0 -200px;
	display: inline-block;
	height: 33px;
}
.i-profession, .i-detail, .i-feature, .i-cool, .i-creative, .i-great, .i-service, .i-authority {
	width: 40px;
}

/* 师资力量 */
.teacher .datalist li {
	padding: 30px 0;
}
.teacher .datalist li.first {
	border-bottom: 1px dashed #ccc;
	padding-top: 0;
}
.teacher .datalist img {
	width: 250px;
	margin-right: 20px;
}
.teacher .datalist p {
	margin-bottom: 10px;
}
.teacher .datalist p b {
	display: block;
	margin-bottom: 5px;
}

/* 学生风采 */
.student {
	margin: 0 auto;
	width: 670px;
}

/* 获奖情况 */
.prize .datalist li {
	border-bottom: 1px dashed #ccc;
	width: 100%;
	float: left;
	padding: 10px;
}
.prize .datalist li.last {
	border-bottom: none;
}
.prize .datalist img {
	width: 250px;
	margin-right: 10px;
}
.prize .col-main, .prize .col-sub {
	height: 815px;
}

/* 联系我们 */
.help .where {
	text-align: center;
}
.help .where p {
	margin-top: 20px;
}
.qrcode p {
	width: 430px;
	margin: 0 auto;
	text-align: center;
}
.qrcode img {
	margin-bottom: 20px;
}
.piano embed {
	margin-top: 30px;
}

/* 表格 */
table {
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 30px;
}
table td, table th {
	text-align: center;
	padding: 10px;
}
table th {
	background-color: #f2dede;
}
table td {
	background-color: #fcf8e3;
}
.gangqin .desc {
	color: #3c763d;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
}
.gangqin embed {
	margin: 0 auto;
}